
@{
    ViewBag.Title = "Index";
}

<h2>Subiectele de discutie din @ViewBag.CurrentCategory.Name</h2>

@foreach (ForumProject.Models.Subject subject in ViewBag.Subjects)
{
    @Html.Partial("SubjectInfo", subject)
    <span class="actionLink">@Html.ActionLink(linkText: "Afiseaza subiectul", actionName: "Show", controllerName: "Subject", routeValues: new { subjectId = subject.Id }, htmlAttributes: null)</span>
    if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
    {
        <span class="actionLink">@Html.ActionLink(linkText: "Editeaza subiectul", actionName: "Edit", controllerName: "Subject", routeValues: new { id = subject.Id }, htmlAttributes: null)</span>
        using (Html.BeginForm(actionName: "Delete", controllerName: "Subject", routeValues: new { id = subject.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-success" type="submit">Sterge subiectul</button>
        }
    }
    <br />
}
<br />
<br />
@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
{
    <span class="actionLink">@Html.ActionLink(linkText: "Adauga un subiect", actionName: "New", controllerName: "Subject", routeValues: new { categoryId = ViewBag.CurrentCategory.Id }, htmlAttributes: null)</span>
}